# Build artifacts and temporary files
*.map
*.xml
*.out
*.d
*.idx
*.o

# Optional: Ignore common build directories where these often live
bin/
obj/
dist/

# CCS / Embedded build junk
Debug/
Release/
*.opt
*.mk
*.d
*.o

# IDE stuff
.settings/
.theia/
.clangd/

# OS junk
.DS_Store