# Build artifacts and temporary files
*.map
*.xml
*.out
*.d
*.idx
*.o
*.mk

# Optional: Ignore common build directories where these often live
bin/
obj/
dist/Makefile
RTOS_Lab5_ProcessLoader/Debug/.clangd/compile_commands.json
RTOS_Lab4_FileSystem/Debug/.clangd/compile_commands.json
RTOS_Lab3_RTOSpriority/Debug/.clangd/compile_commands.json
RTOS_Lab2_RTOSkernel/Debug/.clangd/compile_commands.json
RTOS_Lab1/Debug/.clangd/compile_commands.json
RTOS_aPeriodicInt/Debug/.clangd/compile_commands.json
RSLK/Debug/.clangd/compile_commands.json
MotorTest/Debug/.clangd/compile_commands.json
LD19Tester/Debug/.clangd/compile_commands.json
GP2Y0A/Debug/.clangd/compile_commands.json
ESP8266/Debug/.clangd/compile_commands.json
ESP8266/.project
ESP8266/.clangd
EdgeTriggeredInt/Debug/.clangd/compile_commands.json
DAC/Debug/.clangd/compile_commands.json
CAN/Debug/.clangd/compile_commands.json
ADCTimerTrigger/Debug/.clangd/compile_commands.json
.theia/launch.json
TimerPWM/Debug/.clangd/compile_commands.json
TFLuna/Debug/.clangd/compile_commands.json
TExaS/Debug/.clangd/compile_commands.json
Tester/Debug/.clangd/compile_commands.json
SysTickPeriodicInt/Debug/.clangd/compile_commands.json
ST7735R/Debug/.clangd/compile_commands.json
SSD1306/Debug/.clangd/compile_commands.json
SDCFile/Debug/.clangd/compile_commands.json
ScratchAsm/Debug/.clangd/compile_commands.json
RTOSVerySimple/Debug/.clangd/compile_commands.json
RTOS_SensorBoard/Debug/makefile
RTOS_SensorBoard/Debug/ccsObjs.opt
RTOS_SensorBoard/Debug/.clangd/compile_commands.json
RTOS_SensorBoard/.settings/org.eclipse.core.resources.prefs
RTOS_SensorBoard/.project
RTOS_SensorBoard/.clangd
RTOS_MotorBoard/Debug/.clangd/compile_commands.json
RTOS_MotorBoard/.project
