# Build artifacts and temporary files
*.map
*.xml
*.out
*.d
*.idx
*.o
**/Debug/
# Optional: Ignore common build directories where these often live
bin/
obj/
dist/

# CCS / Embedded build junk
Debug/
Release/
*.opt
*.mk
*.d
*.o

# IDE stuff
.settings/
.theia/
.clangd/

# OS junk
.DS_Store
RTOS_Lab4_FileSystem/.clangd
.gitignore
RTOS_Lab4_FileSystem/targetConfigs/MSPM0G3507.ccxml
RTOS_SensorBoard/.clangd
RTOS_Lab4_FileSystem/.project
ADCTimerTrigger/.clangd
CAN/.clangd
RTOS_Lab5_ProcessLoader/.clangd
RTOS_Lab3_RTOSpriority/.clangd
RTOS_Lab2_RTOSkernel/.clangd
RTOS_Lab1/.clangd
RTOS_aPeriodicInt/.clangd
RSLK/.clangd
MotorTest/.clangd
LD19Tester/.clangd
GP2Y0A/.clangd
ESP8266/.clangd
EdgeTriggeredInt/.clangd
DAC/.clangd
TimerPWM/.clangd
TFLuna/.clangd
TExaS/.clangd
Tester/.clangd
SysTickPeriodicInt/.clangd
ST7735R/.clangd
SSD1306/.clangd
SDCFile/.clangd
ScratchAsm/.clangd
RTOSVerySimple/.clangd
